<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hesabatlar</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../awesome/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</head>

<script>

</script>

<body>

<div id="headLine"></div>

<div id="headBody">
    <a href="/index"><img id="LogoImage" src="../image/Logo.png"></a>
    <div id="searchDiv">
        <input id="search" class="search" type="text" placeholder="Axtarış...">
        <a href="/index"><i class="fas fa-search"></i></a>
    </div>
</div>

<div id="headNavbar">
    <div id="headNavbarList">
        <a href="/index"><label class="headButton"><i class="fas fa-home"></i>Ana Səyfə</label></a>
        <label class="dropdown">
            <label class="headButton dropbtn">Soraqçalar<i class="fas fa-caret-down"></i></label>
            <div class="dropdown-content">
                <a href="/list">Mallarin Siyahisi</a>
                <a href="/customers">Müştərilərin siyahısı</a>
                <a href="#">Link 3</a>
            </div>
        </label>
        <a href="/accounts"><label class="headButton active">Hesabatlar</label></a>
        <label class="headButton">Xidmətlər</label>
        <label class="headButton">Əsas Jurnallar</label>
        <a href="/documents"><label class="headButton">Sənədlər</label></a>
        <label class="headButton">Ümumi Jurnallar</label>
        <label class="headButton">Kassa</label>
    </div>
</div>

<div id="bodyQuestionnaire">


</div>

</body>
</html>